%table
  %thead
    %tr
      %td.breadcrumbs= I18n.t('servers.breadcrumbs.servers')
    %tr
      %th
        %h1= I18n.t('servers.header')
  - if @servers.present?
    %tbody
      = render partial: 'server', collection: @servers
  - else
    %tbody
      %tr
        %td.barely-visible= I18n.t('servers.missing')
